<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="icon" href="/req/img/weather.png">
    <link rel="stylesheet" href="/req/css/style.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img class="portrait" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb7mfi8zdsfzEG4vHcVqrRRggnlAOwX68VmBVC3uD76-Q4vHyp">
    </div>
    {{>footer}}
  </body>
</html>
