  <title>trigger</title>
		<!-- Begin essential elements -->
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
		<meta charset="utf-8">
		<meta name="theme-color" content="#323436"/>


		<link rel="shortcut icon" sizes="128x128" href="/images/flame@2x.png?v=1.0">
		<link rel="shortcut icon" sizes="50x50" href="/images/flame.png">

		<!-- Removes the mobile phone address bar -->
    	<meta name="mobile-web-app-capable" content="yes">
    	<meta name="apple-mobile-web-app-capable" content="yes">
			<meta http-equiv="Content-Security-Policy" content="block-all-mixed-content">



	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
