body {
  color:#333;
  font-family: arial;
  max-width: 650px;
  margin:0 auto;
  padding: 0 15px;

  display:flex;
  flex-flow: column nowrap;
  min-height:100vh;
  height: 100vh;
}

footer {
  color:#888;
  border-top: 1px solid #eee;
  margin-top:15px;
  padding: 15px 0;
}

header {
  margin-top: 15px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 15px;
}

header a {
  color:#888;
  margin-right:15px;
  text-decoration: none;
}

.portrait{

}

.main-content{
  flex-grow:1;
}

input{
  border: 1px solid #ccc;
  padding:5px;
}

button{
  cursor:pointer;
  border: 1px solid #888;
  background: #888;
  color:white;
  padding: 5px;
}
