$mp: !important;

.toaster_home{z-index: 15;}
.home_auth_cont{
  width: 100%;
  height: 60vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}/*home_auth_cont*/

.signing_btn_wrapper{
  .sign-btn{

    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin: 1rem;
    a{
      padding:unset;
      text-align: center;
    }/*a*/
  }/*sign-btn*/
}/*signing_btn_wrapper*/

.auth_form{
  flex: 1 0 250px;
  &:nth-child(1){
    margin-bottom: 2rem;
  }
  .social_wrapper{
    display: flex;
    flex-flow: column;
  }
}

.client_cnx_cont{
  .bounce-loader{
    width: 7rem;
    div{
      width: 2rem;
      height: 2rem;
    }// div
  }// bounce-loader
  .client_result_logo{
    width: 13rem $mp;
    &:after{
      width: 12.5rem $mp;
      height: 12.5rem $mp;
      background-size: 15rem $mp;
    }// :after
  }// client_result_logo
}// client_cnx_cont