<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <link rel="stylesheet" href="./alight/css/style.css"> -->
    {{>meta}}
    {{>oauth_links}}

  </head>
  <body>
    {{>oauth_header}}
  	<script>

  	</script>

  </body>
</html>
