<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <link rel="stylesheet" href="./alight/css/style.css"> -->
    {{>meta}}
    {{!-- {{>oauth_links}} --}}
    {{>(vendor 'bootstrap' use_local_files true)}}
    {{>(vendor 'w3schools' use_local_files)}}
    {{>(vendor 'oauth_links' use_local_files true)}}

  </head>
  <body>
    <div id="modal_cont" class="modal_home"></div>
    <div id="oauth_root"></div>
    {{!-- {{>oauth_header}} --}}
  	<script>

  	</script>
    <div class="toaster_home"></div>

  </body>
</html>
