<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {{!-- <title></title> --}}
    <!-- <link rel="stylesheet" href="./alight/css/style.css"> -->
    <link rel="manifest" href="./oauth_client/src/js/manifest.json" />
    {{>meta}}
    {{>icomoon}}
    {{!-- {{>oauth_links}} --}}
    {{>(vendor 'bootstrap' use_local_files true)}}
    {{>(vendor 'w3schools' use_local_files)}}
    {{>(vendor 'oauth_links' use_local_files true)}}

  </head>
  <body>
    <div id="modal_cont" class="modal_home"></div>
    {{>loader}}
    <div id="oauth_root"></div>
    {{!-- {{>oauth_header}} --}}
  	<script>

  	</script>
    <div class="toaster_home"></div>

  </body>
  <script>
    // window[`SITE_ROOT`] = `${location.origin}/trigger`;
    window['IMG_URL'] = `${location.origin}/oauth_client/src/images/`;
  </script>
</html>
