
$mp: !important;

.trigr_users{ 
  grid-area: users;
  #pp_sidebar{
    background: white;
    background-image: unset $mp;
    width: 20em !important;
    background: #000000c2;// #dadcd4
    &.left{
      left: -21em;
      &.active{left: -0.5rem;}
    }// left
    .pp_close_cont{
      width: 100%;
      background: #9a9783;
      color: black;
      height: 2rem;
      justify-content: flex-end;
    }//pp_close_cont
  }//  pp_sidebar
}// trigr_users
.trigr_qrcode{ grid-area: code;}
.trigr_menu{ grid-area: options;}

.pp_content_cont.trigger{
  height: 75%;
  &.trigr_users { height: 85%;}
}// pp_content_cont
.pp_sign_out.trigger{
  background-color: black;
}

.pp_btn{
  &.left{justify-self: flex-end;}
}